/*mobile first- vertical layout*/

* {
  margin: 0; /*This is to reset all default-margins and paddings*/
  padding: 0;
  box-sizing: border-box;
}

.menu-list-desktop {
  display: none;
}

body {
  font-family: "open-sans", sans-serif;
  background-color: white;
  font-size: 14px;
}

.header {
  display: grid;
  grid-template-columns: 100px 1fr; /*100 px for logo, the rest 4 text*/
  grid-template-rows: 100px; /*auto-height for rows*/
  background-color: #011827;
  align-items: center;
  padding: 10px;
  color: white;
  font-size: x-small;
  width: 100vw;
}

.logo {
  width: 100%;
  height: auto;
}

h1 span {
  /*hacker escape rooms text*/
  display: block;
  font-family: "open-sans", sans-serif;
  padding-left: 10px;
}

.main-image {
  width: 100%; /*responsive image, the whole width of its container*/
  height: auto; /*Height and width are balanced to each other*/
  object-fit: cover; /*The image stays proportional through screen changes*/
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 10px;
  width: 100%;
}

.onsite-btn {
  justify-self: center;
  background-color: #8acfe5;
  max-width: 250px;
  width: 100%;
  height: 50px;
  margin: 0;
  margin-top: 30px;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 550;
  border-radius: 4px;
  border-style: none;
}

.online-btn {
  background-color: white;
  font-size: 12px;
  color: #36769d;
  font-weight: 600;
  margin-top: 10px;
  text-decoration: underline;
  border-style: none;
  max-width: 250px;
}

.quote-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-container {
  display: flex; /*flexbox to put image and text horisontally*/
  align-items: center;
  text-align: left;
  justify-content: center;
  font-size: 1.2em;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 80%;
}

.quote-container-two {
  display: none;
  align-items: center;
  text-align: left;
  justify-content: center;
  font-size: 1.2em;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 100%; /*width for Text*/
}

.quote-container img {
  width: 60px;
  margin-top: -1em;
  height: auto;
  padding-left: 1%;
  margin-right: 10px;
}

.quote-text h6 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-top: 4px;
  font-size: 0.7em;
  font-weight: 400;
}

.quote-text-two h6 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-top: 4px;
  font-size: 0.7em;
  font-weight: 400;
}

.quote-container-two img {
  width: 60px;
  margin-top: -2em;
  height: auto;
  margin-right: 10px;
}

.popular-now h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: left;

  padding: 10px;
}

.popular-now img {
  display: grid;
  width: 100%; /*responsive image, the whole width of its container*/
  height: auto; /*Height and width are balanced to each other*/
}

.room-details {
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: 10px;
  display: flex; /*stars and participants together on a row*/
  gap: 10px;
}

.room-description {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  width: 90%;
  font-size: 1em;
}

.stars img {
  width: 100px;
  height: auto;
}

.participants {
  font-size: 0.8rem;
  margin-top: 1%;
}

.book-first-btn,
.book-second-btn,
.book-third-btn {
  background-color: #fc1e06;
  font-weight: 600;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  margin-bottom: 5px;
  margin-left: 130px;
  margin-top: 10px;
}

span {
  font-size: smaller;
  font-weight: 600;
}

.room-container {
  display: flex; /*We have to be able to scroll horisontally between rooms*/
  overflow-x: auto; /*Horisontal swipe OK*/
  max-width: 100%;
  padding-left: 12px;
  padding-bottom: 10px;
}

.first-room,
.second-room,
.third-room {
  flex: 0 0 80%; /*% makes it responsive*/
  color: black;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden; /*Borde radius for the upper part of photo!*/
}

.button-container-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 10px;
  width: 100%;
  margin-bottom: 5%;
}

.onsite-btn-two {
  justify-self: center;
  background-color: #8acfe5;
  max-width: 250px;
  width: 100%;
  height: 50px;
  margin: 0;
  margin-top: 30px;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 550;
  border-radius: 4px;
  border-style: none;
}

.online-btn-two {
  background-color: white;
  font-size: 12px;
  color: #36769d;
  font-weight: 600;
  margin-top: 10px;

  text-decoration: underline;
  border-style: none;
}

.article-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #011827;
  padding: 30px;
  color: white;
  width: 100vw;
  height: 55vh;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
}

.full-story {
  margin-top: 2em;
  background-color: #011827;
  color: #8acfe5;
  outline-color: #8acfe5;
  font-weight: bolder;
  font-size: large;
  padding: 12px;
  outline: 1px solid #8acfe5;
  border-radius: 3px;
}

.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.friends img {
  width: 100%; /*responsive image, the whole width of its container*/
  height: auto;
  margin-top: -6%; /*Could not get rid of the white space another way*/
  margin-bottom: 10%;
}

.friends-team h2 {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
  padding: 10px;
  text-align: left;
}

.friends-team h2 .friends-team .build-team {
  margin: 10px;
}

.friends-team .build-team {
  font-family: "Roboto", sans-serif;
  margin-top: 3%;
  font-weight: 400;
  padding: 2%;
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.friends-team {
  display: grid;
  grid-template-areas:
    "img1"
    "text1"
    "img2"
    "text2";
}
.play-online {
  font-family: "Roboto", sans-serif;
  margin-top: 3%;
  font-weight: 400;
  padding: 2%;
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.online-play {
  width: 100%;
}

.friends {
  width: 100%;
}

.book-on-site-btn {
  background-color: #fc1e06;
  font-weight: 600;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 3px;
  width: 60%;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 20%;
  font-size: 16px;
}
.online-play img {
  width: 100vw; /*responsive image, the whole width of its container*/
  height: auto;
  margin-top: -6%; /*Could not get rid of the white space another way*/
  margin-bottom: 10%;
}

.online-play h2 {
  font-family: "Roboto", sans-serif;
  font-size: x-large;

  padding: 2%;
  margin-top: -8%;
  margin-left: 1%;
}

.see-all-btn {
  background-color: #fc1e06;
  color: white;
  font-weight: 600;
  border: none;
  padding: 15px;
  border-radius: 3px;
  width: 60%;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 12%;
  font-size: 16px;
}

.end-page {
  margin-top: 20px;
  background-color: #011827;
  color: white;
  outline-color: #8acfe5;
  font-size: large;
  padding: 5%;
  padding-top: 12%;
  padding-bottom: 12%;
}

.footer-menu__logo {
  display: flex;
  flex-direction: left;
}

.footer-menu p {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding-top: 3%;
  padding-bottom: 10%;
  font-weight: 300;
  margin-right: 0;
  width: 100%;
  text-align: left;
  display: flex;
}

.footer-nav ul {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 20%;
}

.footer-nav__list .mini-heading {
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  margin-bottom: 5px;
  font-size: 0.1em;
}

.footer-nav__item a {
  color: white;
  text-decoration: none;
}

.footer-nav__item {
  margin-bottom: 3px;
}

.footer-nav .mini-heading {
  font-size: larger;
}

.footer-nav__list.us {
  margin-bottom: 20px;
  font-size: small;
}

.footer-nav__list.online {
  margin-bottom: 20px;
  font-size: small;
}
.footer-nav__list.follow {
  margin-bottom: 20px;
  font-size: small;
}

/*Tablets>600px*/
@media (min-width: 600px) {
  .menu-list-desktop {
    display: flex;
  }

  .logo {
    width: 80%;
    height: auto;
  }

  h1 {
    /*hacker escape rooms text*/
    display: flex;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-left: -20px;
    
  }

  h1 span{
    margin: -3px;
  }

  .menu-list-desktop ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
    margin-left: 10em;
    font-weight: bolder;
    padding-top: 18px;
    padding-bottom: 10px;
  }

  .menu-list-desktop a {
    color: white;
    text-decoration: none;
    font-size: small;
    white-space: nowrap;
  }

  .quote-container-two {
    display: flex;
    flex-direction: row;
    font-size: small;
  }

  .quote-container {
    display: flex;
    flex-direction: row;
    font-size: small;
  }

  .quote-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .onsite-btn {
    background-color: #8acfe5;
    max-width: auto;
    height: 40px;
    width: 200px;
    margin: 0;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 550;
    border-radius: 4px;
    border-style: none;
  }

  .online-btn {
    background-color: red;
    max-width: auto;
    color: white;
    height: 40px;
    width: 200px;
    margin: 0;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 550;
    border-radius: 4px;
    text-decoration: none;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    margin-top: -50px;
  }

  .room-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-evenly;
    max-height: 18rem;
  }

  .first-room,
  .second-room,
  .third-room {
    flex: 1;
    margin: 10px;
    border-radius: 5px;
  }

  .popular-now h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: left;
    padding: 10px;
  }

  .room-details {
    margin-top: -8px;
    margin-bottom: 20px;
    margin-left: 10px;
    display: flex; /*stars and participants together on a row*/
    gap: 50px;
  }

  .room-description {
    text-align: left;
    width: 100%;
    font-size: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -18px;
    padding: 13px;
  }

  .stars img {
    width: 70px;
    height: auto;
  }

  .participants {
    font-size: 0.5rem;
    margin-top: 1%;
    margin-left: 1px;
  }

  .book-first-btn,
  .book-second-btn,
  .book-third-btn {
    background-color: #fc1e06;
    font-weight: 400;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 4px;
    width: 50%;
    height:25px;
    font-size: xx-small;
    font-weight: bold;
    margin-left: 90px;
    margin-top: -5px;
    
  }

  .onsite-btn-two {
    background-color: #8acfe5;
    max-width: auto;
    height: 40px;
    width: 200px;
    margin: 0;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 550;
    border-radius: 4px;
    border-style: none;
  }

  .online-btn-two {
    background-color: red;
    max-width: auto;
    color: white;
    height: 40px;
    width: 200px;
    margin: 0;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 550;
    border-radius: 4px;
    text-decoration: none;
  }

  .button-container-two {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 4em;
  }

  .article-part {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #011827;
    color: white;
    padding: 8em;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    max-height:0; 
  }

  .full-story {
    margin-top: 3em;
    background-color: #011827;
    color: #8acfe5;
    outline-color: #8acfe5;
    font-weight: bold;
    width: 100%;
    font-size: 0.8em;
    outline: 1px solid #8acfe5;
    border-radius: 3px;
  }

  .friends-team {
    /*parent element*/
    display:grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto, auto;
    grid-template-areas:
      "img1 text2"
      "text1 img2";
      gap:0;
      width:100%;
  }

  .friends img {
    /*two persons img*/
    grid-area: img1;
    max-width: 100%;
    height:100%;
    object-fit: contain;
    margin:0;
    padding:0;
  }

  .online-play img {
    grid-area: img2;
    height:100%;
    max-width: 100%;
    object-fit: contain;
    margin:0;
    padding:0;
  }

  .information-online .play-online {
    font-size: medium;
    
  }

  .information-friends .build-team {
    font-size: medium;
  }

  .information-online h2 {
    font-size: 1.2rem;
  }

  .information-friends h2 {
    font-size: 1.2rem;
  }
  .information-friends {
    /*all text for friends*/
    grid-area: text2;
    margin-top: 20px;
    padding:2em;
  }

  .information-online {
    grid-area: text1;
    margin-top: 25px;
    padding:2em;
  }

  .book-on-site-btn {
  margin-left:10px;
  }

  .see-all-btn {
    margin-left:10px;
  }
  .online-play {
    display: flex;
    flex-direction: column-reverse;
  }









  
  .end-page {
    display: flex;
  }

  .end-page .footer-menu {
    max-width: 400px;
    padding: 10px;
  }








}



























/*Screens>1024px*/
@media (min-width: 1024px) {
  .menu-list-desktop {
    display: flex;
  }

  .logo {
    width: 100%;
    height: auto;
  }

  h1 {
    /*hacker escape rooms text*/
    display: flex;
    font-size: 2.2rem;
    margin-top: 30px;
    margin-left: 0.4rem;
    
  }

  h1 span{
    margin: -3px;
  }

  .menu-list-desktop ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap:110px;
    margin-left: 15em;
    padding-top: 20px;
    padding-bottom: 1px;
  }

  .menu-list-desktop a {
    color: white;
    text-decoration: none;
    font-size: 1.7em;
    white-space: nowrap;
  }

  .main-image {
    max-width: 100%; /*responsive image, the whole width of its container*/
    height:390px;
    object-fit: cover;
  }

  .quote-container-two {
    display: flex;
    flex-direction: row;
    font-size: medium;
    margin-left: 2em;
  }

  .quote-container {
    display: flex;
    flex-direction: row;
    font-size: medium;
  }

  .quote-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 700px;
  }

  .onsite-btn {
    background-color: #8acfe5;
    max-width: auto;
    height: 50px;
    width: 220px;
    margin: 0;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 550;
    border-radius: 4px;
    border-style: none;
  }

  .online-btn {
    background-color: red;
    max-width: auto;
    color: white;
    height: 50px;
    width: 220px;
    margin: 0;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 550;
    border-radius: 4px;
    text-decoration: none;
  }

  .button-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -60px;
  }

  .room-container {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    
  }
  .popular-now h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
    padding: 10px;
  }

  .room-description {
    text-align: left;
    width: 100%;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -18px;
    margin-bottom: 18px;
    padding: 10px;
  }

  .stars img {
    width: 100px;
    height: auto;
  }

  .participants {
    font-size: 0.7rem;
    margin-top: 1%;
    margin-left: 4em;
  }

  .book-first-btn,
  .book-second-btn,
  .book-third-btn {
    background-color: #fc1e06;
    font-weight: 400;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 4px;
    width: 40%;
    height:30px;
    font-size: x-small;
    font-weight: bold;
    margin-left: 170px;
    margin-top: -5px;
  }

  .onsite-btn-two {
    background-color: #8acfe5;
    max-width: auto;
    height: 50px;
    width: 220px;
    margin: 0;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 550;
    border-radius: 4px;
    border-style: none;
  }

  .online-btn-two {
    background-color: red;
    max-width: auto;
    color: white;
    height: 50px;
    width: 220px;
    margin: 0;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 550;
    border-radius: 4px;
    text-decoration: none;
  }

  .button-container-two {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 4em;
  }

  .article-part {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #011827;
    color: white;
    padding: 10em;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    max-height:0; 
  }
  
  .article-part article{
    max-width: 400px;
  }

  .full-story {
    
    background-color: #011827;
    color: #8acfe5;
    outline-color: #8acfe5;
    font-weight: bold;
    font-size: 0.9em;
    outline: 1px solid #8acfe5;
    border-radius: 3px;
    min-width: 220px;
  }

  .friends-team {
    /*parent element*/
    display:grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto, auto;
    grid-template-areas:
      "img1 text2"
      "text1 img2";
      width:100%;
      margin-bottom: 100px;
  }

  .friends img {
    /*two persons img*/
    grid-area: img1;
    max-width: 100%;
    height:100%;
    object-fit: contain;
    margin:0;
    padding:0;
  }

  .online-play img {
    grid-area: img2;
    height:100%;
    max-width: 100%;
    object-fit: contain;
    
  }

  .information-online h2 {
    font-size: 1.5rem;
  }

  .information-friends h2 {
    font-size: 1.5rem;
  }
  .information-friends {
    /*all text for friends*/
    grid-area: text2;
    width: 500px;
    height: 100px;
    padding: 55px;
    padding-left: 80px;

    
  }
  .information-online {
    /*all text for online*/
    grid-area: text1;
    width: 500px;
    height: 100px;
    padding: 55px;
    padding-left: 80px;
  }

  .book-on-site-btn {
  max-width: 200px;
  margin-left: 5px;
  margin-top: 15px;
  }

  .see-all-btn {
    max-width: 200px;
    margin-left: 5px;
  }

  .information-friends .build-team{
    font-size: 1.3em;
    max-width: 330px;
  }

  .information-online .play-online{
    font-size: 1.3em;
    max-width: 330px;
  }
 
}

/*Screens>1440px*/
@media (min-width: 1440px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
    padding: 60px;
    gap: 40px; /*Wider gap on bigger screens*/
  }

  .onsite-btn,
  .online-btn,
  .book-first-btn,
  .book-second-btn,
  .book-third-btn {
    width: 300px;
  }
  .friends img {
    width: 80%; /*smaller images on bigger screens*/
  }
}
