*{
    margin:0; /*This is to reset all default-margins and paddings*/
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "open-sans", sans-serif;
    background-color: white;
    font-size: 14px;

}

.main{
    display:grid;
    grid-template-columns: 1fr; /*one column for mobile first layout*/
    grid-template-rows: auto;
    gap: 20px;
    padding:20px;

}

h1 span{
    display: block;
    font-family: "open-sans", sans-serif;
    padding-left: 10px;
}

.menu-list-desktop{
    display: none;
}

.online-btn{
    box-sizing: border-box;
    border-style: none;
    background-color: white;
    font-size:small; 
    color: #36769D;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: underline;
}

.onsite-btn{
    justify-self: center;
    background-color: #8ACFE5;
    max-width: 200px;
    width:100%;
    margin:0;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: larger;
    font-weight: 600;

}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 10px;
}

.header{
    display: grid;
    grid-template-columns: 100px 1fr; /*100 px for logo, the rest 4 text*/
    grid-template-rows: 100px; /*auto-height for rows*/
    background-color: #011827;
    align-items: center;
    padding:10px;
    color: white;
    font-size: x-small;
}

.logo{
    width: 100px;
    height: auto;
}

h1{
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: left;
}

.main-image {
    width: 100%; /*responsive image, the whole width of its container*/
    object-fit: contain;
    height: ;
    padding: 0;
}
